prefix=COMMAND_PREFIX_HERE
token=TOKEN_HERE
botlog=CHANNEL_ID_FOR_LOGS
banlistguild=GUILD_ID_FOR_GUILD_TO_SYNC_BANS_FROM/TO
appealguild=GUILD_ID_FOR_GUILD_WHERE_BAN_APPEALS_ARE_MADE

debugEnabled=True_OR_False

# Database Setup
db_type=FLAT  # Either MySQL or Flat (or just leave empty for Flat SQLite)

botlogfail=CHANNEL_ID_FOR_LOGS_WHEN_A_COMMAND_FAILS
prvbanlist=CHANNEL_ID_TO_SHOW_PRIVATE_INFO_ABOUT_BANS_IN
banappealschannel=CHANNEL_ID_FOR_BAN_APPEALS

top.gg_token=
discord.bots.gg_token=
discordbotlist.com_token=
bots.ondiscord.xyz_token=
